<?xml version="1.0" encoding="UTF-8"?>

<phpunit>
    <testsuites>
        <testsuite name="CSV">
            <directory>./CSV/</directory>
        </testsuite>
        <testsuite name="JSON">
            <directory>./JSON/</directory>
        </testsuite>
        <testsuite name="HTML">
            <directory>./HTML/</directory>
        </testsuite>
    </testsuites>
</phpunit>
